.hero {
  background-image: url("../../../../public/images/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
  opacity: 0.8;
}
.hero .container {
  padding-top: 15%;
}
.hero h1 {
  color: #c11919;
  font-size: 60px;
}
.hero p {
  color: #0c40ec;
  font-size: 30px;
  opacity: 1.2;
}




@media screen and (max-width: 800px) {
  .hero {
    background-image: url("../../../../public/images/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
  }
  .hero .container {
    padding-top: 40%;
  }
 
  
}
